/* Table design from: https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/*/

body
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: black;
}

button
{
    border: 1;
    border-width: thin;
    color: inherit;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    padding-right: 5px;
    cursor: pointer;
}

button:focus
{
    outline: 0;
}

button:hover
{
    background-color: gray;
    color: white;
}
  
button:active
{
    background-color: #878c8f;
}

button:disabled,
button[disabled]
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
  
.fas,
.far
{
    padding-right: 5px;
}

#resp-table
{
    width: 100%;
    display: table;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}
    
#resp-table-caption
{
    display: table-caption;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#resp-table-header
{
    display: table-header-group;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    }
    
.table-header-cell
{
    display: table-cell;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-bottom: 1px solid black;
}

#resp-table-body
{
    display: table-row-group;
}

.resp-table-row
{
    display: table-row;
}
    
.table-body-cell, .table-body-cell-interactive,
.table-body-cell-tonic, .table-body-cell-tonic-interactive,
.table-body-cell-char, .table-body-cell-char-interactive,
.table-body-cell-step-1, .table-body-cell-step-3, .table-body-cell-step-4
{
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid grey;
}

.table-body-cell-interactive
{
    cursor: pointer;
}

.table-body-cell-interactive:hover
{
    background-color: grey;
    color: white;
}

.table-body-cell-tonic, .table-body-cell-tonic-interactive
{
    color: firebrick;
}

.table-body-cell-tonic-interactive
{
    cursor: pointer;
}

.table-body-cell-tonic-interactive:hover
{
    background-color: firebrick;
    color: white;
}

.table-body-cell-char, .table-body-cell-char-interactive
{
    color: dodgerblue;
}

.table-body-cell-char-interactive
{
    cursor: pointer;
}

.table-body-cell-char-interactive:hover
{
    background-color: dodgerblue;
    color: white;
}

.table-body-cell-step-1
{
    color: sienna;
}

.table-body-cell-step-3
{
    color: DarkOrchid;
}

.table-body-cell-step-4
{
    color: DarkViolet;
}

.bolden
{
    font-family:"Arial Black"
}

.header-bolden
{
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    font-family:"Arial Black";
}

select
{
    cursor: pointer;
}

input
{
    cursor: pointer;
}

.input-label
{
    cursor: pointer;
}

#chord_explorer_notes_decomposed
{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-style:italic;
}

h3
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    /*font-style: italic;*/
}

.select-page
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    /*font-style: italic;*/
}

footer
{
    text-align: center;
}

p
{
    word-break: break-all;
    white-space: normal;
}