/* Table design from: https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/*/

#resp-table
{
    width: 80%;
    display: table;
    table-layout: fixed;
}
    
#resp-table-caption
{
    display: table-caption;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#resp-table-header
{
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
    }
    
.table-header-cell
{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

#resp-table-body
{
    display: table-row-group;
}

.resp-table-row
{
    display: table-row;
}
    
.table-body-cell
{
    display: table-cell;
    text-align: center;
}

.bolden
{
    font-family:"Arial Black"
}

.header-bolden
{
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    font-family:"Arial Black";
}